<nav class="navbar navbar-inverse "  role="navigation">
    
    
        <div class="container-fluid" >
            <div class="navbar-header">

                <button class="navbar-toggle " data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Navegación Expandible</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="glyphicon glyphicon-list"></span>
                </button>

            </div>
        </div>
        <div class="collapse navbar-collapse ">           
            <ul class="nav navbar-nav">

                <li class='has-sub '>
                    <a href="{{ path('turno_consola') }}"><span>Turnos</span></a>
                </li>
                <li class='has-sub '>
                    <a href="{{ path('rendicion_turnos') }}"><span>Rendición</span></a>
                </li>                
                

            </ul>
        </div>
</nav>

                
        
        
       
